
:root {
  --bg: #ffffff;
  --text: #222;
  --primary: #007bff;
  --error: #cc0000;
}

[data-theme="dark"] {
  --bg: #121212;
  --text: #f0f0f0;
  --primary: #0dcaf0;
  --error: #ff4444;
}

[data-theme="blue"] {           /* tema azul  */
  --bg: #e3f2fd;
  --text: #0d47a1;
  --primary: #2196f3;
  --error: #b71c1c;
}
#themeSelector {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

#themeSelector label {
  cursor: pointer;
  font-weight: bold;
}


