
:root {
  --bg: #ffffff;
  --text: #222;
  --primary: #007bff;
  --error: #cc0000;
}

[data-theme="dark"] {
  --bg: #121212;
  --text: #f0f0f0;
  --primary: #0dcaf0;
  --error: #ff4444;
}

[data-theme="blue"] {           /* tema azul  */
  --bg: #e3f2fd;
  --text: #0d47a1;
  --primary: #2196f3;
  --error: #b71c1c;
}
#themeSelector {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

#themeSelector label {
  cursor: pointer;
  font-weight: bold;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--primary);
  color: white;
}

#navList {
  display: flex;
  gap: 1rem;
  list-style: none;
}

#navList a {
  color: white;
  text-decoration: none;
}

#hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  margin-left: auto;
}

#hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 2px;
}


@media (max-width: 600px) {
  #hamburger {
    display: flex;

  }

  #navList {
    display: none;
    flex-direction: column;
    background: var(--primary);
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 1rem;
    border-radius: 8px;
  }

  #navList.open {
    display: flex;
  }
}

body {
  margin: 0;
  font-family: sans-serif;
  background: var(--bg);
  color: var(--text);
}


/* === SlideShow */
#slideshow {
  text-align: center;
  margin: 2rem auto;
  max-width: 600px;         
}

.slide {
  width: 100%;               
  height: 300px;              
  object-fit: cover;          
  display: none;
}

.slide.active {
  display: block;
}


